header {
  grid-area: header;
  background: var(--white);
  padding: 10px;
  height: 120px;

  nav {
    position: relative;
    
    .nameUsuario {
      position: absolute;
      left: 10%;
      top: 20px;
      width: max-content;
      font-size: 3vw;
      border: 1px solid black;
      border-radius: 5px;
      padding: 0px 5px;
      color: #0C0C0C;
    }

    .nameUsuarioLimpo {
      display: none;
    }

    .nameUsuario:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
      top: -5px;
      left: 5%;
    }

    .logo {
      display: flex;
      justify-content: space-between;
      margin-bottom: -15px;
      height: 65px;
      
      .cart , .favorites {
        border: none;
        margin: 5px;
      }

      .linkLogo {
        text-decoration: none;
        .logo-title {
          font-size: 24px;
          font-weight: 400;
          color: #0c0c0c;
        }
      }
      
      .btn-nav {
        position: relative;
        img {
          mix-blend-mode: multiply;
        }
        span {
          display: none;
        }
      }

      .spanQuantidadeCart {
        background: green;
        color: #F1F2F5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -18px;
        left: -5px;
      }
    }

    .menu-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        width: 80%;
        border: none;
        background: var(--black) url(../../img/search-icon.svg) no-repeat right;
        color: var(--white);
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}