/*

* {
  outline: 1px solid red;
}
*/

body {
  display: flex;
  flex-direction: column;
}

.containerCadastro {
  z-index: 99;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  .RightBoxCadastro, .LeftBoxCadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .btnLoginVolta {
    position: relative;
    right: -25%;
    text-decoration: none;
    color: #0c0c0c;
    margin-bottom: 40px;
  }

  .TopCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: normal;
    }

    p {
      text-align: center;
      width: 70%;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label, input, select {
      width: 90%;
      border-radius: 5px;
    }

    label {
      margin: 15px 0px 0px 30px;
    }
    
    input, select {
      background: #0c0c0c;
      border: none;
      color: #F1F2F5;
      padding: 15px;
    }

    .CriarCadastro {
      background: #0c0c0c;
      color: #F1F2F5;
      padding: 15px;
      border-radius: 5px;
      margin: 20px 0px;
      width: 50%;
    }

    .CriarCadastro:hover {
      background: #F1F2F5;
      color: #0c0c0c;
      outline:1px solid #0c0c0c;
    }

    .boxSenha {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .boxSenhaDentro {
        display: flex;
        justify-content: space-between;
        input {
          width: 45%;
        }
      }
    }
  }
  .boxLoginSocial {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    button {
      background: none;
      border: none;
    }
  }
}

@media screen and (min-width : 720px){
  .containerCadastro {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    width: 95%;
    height: 88vh;
    align-self: center;

    .TopCadastro {
      position: absolute;
      top: 5%;
    }

    .RightBoxCadastro, .LeftBoxCadastro {
      position: relative;
      height: 50%;
      width: 100%;
    }

    form {
      width: 80%;
    }

    .btnLoginVolta {
      width: 190px;
      z-index: 99;
      position: absolute;
      left: 88%;
      top: 20px;
      border-radius: 5px;
      padding: 5px;
    }

    .btnLoginVolta:hover {
      background: #0c0c0c;
      color: #F1F2F5;

    }
  }
}