@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: grid;
  grid-template-areas:
   'header header'
   'aside section'
   'footer footer'
  ;
}

button {
  border: none;
}

span {
  z-index: -1;
}

:root {
  --grey: #1E2128;
  --white: #F1F2F5;
  --black: #0C0C0C;
  --red: #FF0000;
  --green: #008000;
}

.close {
  display: none;
}

header {

  grid-area: header;
  background: var(--white);
  padding: 20px;
  nav {
    .logo {
      display: flex;
      justify-content: space-between;
      
      .cart , .favorites {
        border: none;
        margin: 5px;
      }
      
      .logo-title {
        font-size: 24px;
        font-weight: 400;
      }
    }

    .menu-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        width: 80%;
        border: none;
        background: var(--black) url(../img/search-icon.svg) no-repeat right;
        color: var(--white);
        padding: 10px;
      }
    }
  }
}



aside {
  grid-area: aside;
  display: flex;
  flex-direction: row;

  .menu-left {
    z-index: 99;
    background: var(--black);
    width: 90px;
    height: 750px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  button {
    background: transparent;
    padding: 11px 0;
  }

  .open {
    position: absolute;
    left: 90px;
    background: var(--black);
    color: var(--white);
    width: calc(100% - 90px);
    height: 750px;
    padding: 5px;

    ul {
      li {
        padding: 32px 0px 11px 20px;
        list-style-type: none;
        font-size: 16px;
      }
    }
  }
}

.body-products {
  display: grid;
  row-gap: 50px;
  grid-area: section;
  place-items: center;

  .top-img {
    width: 100%;
    object-fit: cover;
  }

  .box-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    width: 90%;
    height: 420px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.19);

    .img-product {
      z-index: -1;
    }

    .price-red {
      position: relative;
      right: 25%;
      span {
        font-size: 10px;
        color: var(--red);
      }
    }

    .green-price-product {
      span {
        position: relative;
        right: 65%;
        display: block;
        color: var(--green);
      }

      .green-span{
        font-size: 10px;
      }
    }

    .span-parcel {
      width: 50%;
      padding-top: 10px;
      font-size: 10px;
    }

  }
}