
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //outline: 1px solid red;
}

@media screen and (max-width: 720px){

  body {
    display: grid;
    grid-template-areas:
        "header header"
        "section section"
        "footer footer";
  }

  button {
    border: none;
    z-index: 99;
  }

  span {
    z-index: -1;
  }


  :root {
    --secondary: #384359;
    --grey: #1E2128;
    --white: #F1F2F5;
    --black: #0C0C0C;
    --red: #FF0000;
    --green: #008000;
  }

  .close {
    display: none;
  }




}

/*Desktop abaixo*/
  @media screen and (min-width: 720px){

    body {
      overflow-x: hidden;
    }
    .containerHome {
      width: 100%;
      display: grid;
      grid-template-areas:
       'header header'
       'aside section'
       'footer footer'
      ;
      grid-template-columns: 15% 85%;
    }
    
  }

